.cabecalho{

    background-color:#950A0A;
    color:white;
    display:flex
    justify-content:space-around;
    align-item:center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width:30%;
}


.cabecalho-lista-item{

    display:inline-block;
}